body  {
   min-height:100%;
   background-size:cover
}

.welcome {
   font-family: 'Segoe UI';
   font-size: 3rem;
   color: blue;
}

.center {
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}​